button.close {

padding: 20px;

}

.close{

    font-size : 30px;

}

body{

    background: url(img/bg.jpg)no-repeat;

    background-size: cover; 

    width: auto;

    height: auto;

}

.change-nav{

    background-color: rgba(0,0,0,0);

    border: 0px;

}

.imgbox{

    background: rgba(0, 0, 0, 0);

    padding-left: 3%;

    margin-right: 10%;

    margin-top: 15%;

    margin-left: 30%;

}

.loginbox{

    background: rgba(0, 0, 0, 0);

    padding: 3%;

    margin-top: 30%;

    margin-left: 30%;

    margin-right: 70%;

}

.loginbox p {

    font-family: "Comic Sans MS";

    color: rgb(0, 0, 0);

    font-weight: bold;

    font-size: 25px;

}

.loginbox input[type="text"],

.loginbox input[type="password"]{

    border: none;

    border-bottom: 1px solid black;

    background: transparent;

    outline: none;

    height: 20px;

    size: 15px;

}

.btn{

    font-family: "Comic Sans MS";

    color: black;

    font-weight: bold;

    font-size: 25px;

    margin-left: 28%;

    margin-top: 5%;

}

.abtn{

    font-size: 20px;

    margin-left:5%;

    margin-top:-1%;

}

.pbtn{

    margin-left: 42%;

    margin-top:10%;

}

.lbtn{

    margin-top:10%;

    margin-left:46%;

    background-color:#5bc0de;

}

.img{

    margin-left:10%;

    margin-bottom:-10%;

}

label{

    font-family: "Comic Sans MS";

    color: black;

    font-weight: bold;

    font-size: 25px;

    margin-left:12%;

}

.rbtn {

    margin-top:20%;

    margin-left:30%;

    color:white;

}

.modal-body{

    margin-top:10%;

}

img {

    margin: 0;

}

.hello{

    margin-top:-5%;

    color:black;

    font-weight:bold;

}

.navbar-default .navbar-nav>li>a {

    color: black;

    font-size:15px;
}

body{
    background: url(img/bg.jpg)no-repeat;
    background-size: cover; 
    width: auto;
    height: auto;
}
.change-nav{
    background-color: rgba(0,0,0,0);
    border: 0px;
}
.imgbox{
    background: rgba(0, 0, 0, 0);
    padding-left: 3%;
    margin-right: 10%;
    margin-top: 15%;
    margin-left: 30%;
}
.loginbox{
    background: rgba(0, 0, 0, 0);
    padding: 3%;
    margin-top: 30%;
    margin-left: 30%;
    margin-right: 70%;
}
.loginbox p {
    font-family: "Comic Sans MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}
.loginbox input[type="text"],
.loginbox input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    size: 15px;
}
.btn{
    font-family: "Comic Sans MS";
    color: black;
    font-weight: bold;
    font-size: 20px;
}
button.close {

    padding: 20px;

}

.close{

    font-size : 30px;

} 


label{
    font-size:15px;
}

.row{
    margin: 20px 0 20px 0;
}

p{
    font-size:10px;
}